*:required+span::after {
  content: " *";
  color: #e32;
  position: absolute;
  margin: 0 0 0 -20px;
  padding: 0 5px 0 0;
}

body{
  height: 100vh;
}

  .navbar {
    padding: 0%;
    margin: 0%;
    height: 7%;
  }

  main{
    height: 88%;
  }

  div.row {
    margin: 0%;
    height: 100%;
  }

    article {
      margin: 0% 0% 0%;
      padding-top: 2.1%;
      padding-bottom: 2.1%;
    }

      .row>* {
        padding-left: 6%;
        padding-right: 6%;
      }
    
      #oscuro {
        background-color: #232121;
      }

        #oscuro p {
          color: white;
        }

      legend {
        width: auto;
        margin: 0;
      }

@media (max-width: 800px) {
  body {
    margin: 0 10%;
  }

    .btn-accessibility {
      font-size: 0.8em;
    }

    #oscuro {
      background-color: white;
    }

      #oscuro p {
        color: black;
      }

      #landingForm {
        margin-bottom: 10%;
      }

    .row>* {
      padding-left: 1%;
      padding-right: 1%;
    }

      .text-center {
        margin-bottom: 10%;
      }
}