*:required+span::after {
  content: " *";
  color: #e32;
  position: absolute;
  margin: 0 0 0 -20px;
  padding: 0 5px 0 0;
}

legend {
  width: auto;
  margin: 0;
}

@media (max-width: 800px) {
  body {
    margin: 0 10%;
  }

  .btn-accessibility {
    font-size: 0.8em;
  }

  .text-center {
    margin-bottom: 10%;
  }

  #landingForm {
    margin-bottom: 10%;
  }
}