body{
    margin: 0%;
}

    main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    #mitadOscura{
        width: 40%;
        background-color: rgb(31, 31, 31);
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2% 5% 2.6%;
    }

        #mitadOscura img{
            width: 80%;
        }

        #mitadOscura p{
            width: 55%;
            padding-top: 2%;
            font-size: large;
            text-align: justify;
        }

    #mitadClara{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0% 5% 1%;
    }

        #mitadClara h2{
            margin: 0%;
            display: flex;
            align-items: center;
        }

        #mitadClara form{
            height: 70%;
        }

            #mitadClara form > *{
                margin: 2%;
                padding-left: 0.5%;
            }
                .largo{
                    width: 60%;
                }

                #tarjeta input{
                    width: 15%;
                }

                #mitades{
                    display: flex;
                    flex-wrap: wrap;
                }

                #mitades > *{
                    width: 48%;
                }
    
    #cabecera{
        display: flex;
        flex-wrap: wrap;
    }

        #cabeceraOscura{
            width: 49.99%;
            background-color: rgb(31, 31, 31);
        }

        aside{
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;;
        }

            aside button{
                width: 30%;
            }